/*  H5ComponentPoint对象（散点图表组件对象） */
.h5_component_point {
	
}
.h5_component_point .point {
	display: block;
	position: absolute;
	border-radius: 50%;
}
.h5_component_point .point .name {
	position: absolute;
	font-size: 22px;
	height: 30px;
	width: 100%;
	text-align: center;
	top: 50%;
	margin-top: -15px;
}
.h5_component_point .point .name .per {
	font-size: .5em;
}